"*":
  core:
    disabledPackages: [
      "linter-solidity"
      "metrics"
      "exception-reporting"
    ]
    telemetryConsent: "no"
  "linter-eslint":
    autofix:
      fixOnSave: true
  "linter-ui-default":
    panelHeight: 69
    showPanel: true
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
    useEslint: true
  welcome:
    showOnStartup: false
