"*":
  core:
    disabledPackages: [
      "metrics"
      "exception-reporting"
    ]
    telemetryConsent: "no"
  editor:
    invisibles: {}
  "linter-ui-default":
    panelHeight: 69
  "tree-view": {}
  welcome:
    showOnStartup: false
